<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysFertilizationMapper">
    
    <resultMap type="SysFertilization" id="SysFertilizationResult">
        <result property="id"    column="id"    />
        <result property="landId"    column="land_id"    />
        <result property="landName"    column="land_name"    />
        <result property="fertilizationInventoryId"    column="fertilization_inventory_id"    />
        <result property="fertilizationInventoryName"    column="fertilization_inventory_name"    />
        <result property="unit"    column="unit"    />
        <result property="owner"    column="owner"    />
        <result property="time"    column="time"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="dosage"    column="dosage"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysFertilizationVo">
        select a.id, a.land_id,b.name as land_name, a.owner, a.time, a.create_time, a.update_time, a.create_by, a.dosage, a.remark,a.fertilization_inventory_id,c.title as fertilization_inventory_name,c.unit  from sys_fertilization a
        LEFT JOIN sys_land b ON  a.land_id=b.id
        LEFT JOIN sys_fertilization_inventory c ON a.fertilization_inventory_id=c.id
    </sql>

    <select id="selectSysFertilizationList" parameterType="SysFertilization" resultMap="SysFertilizationResult">
        <include refid="selectSysFertilizationVo"/>
        <where>  
            <if test="landId != null "> and land_id = #{landId}</if>
            <if test="owner != null  and owner != ''"> and owner = #{owner}</if>
            <if test="time != null  and time != ''"> and time = #{time}</if>
            <if test="dosage != null  and dosage != ''"> and dosage = #{dosage}</if>
        </where>
    </select>
    
    <select id="selectSysFertilizationById" parameterType="Long" resultMap="SysFertilizationResult">
        <include refid="selectSysFertilizationVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertSysFertilization" parameterType="SysFertilization" useGeneratedKeys="true" keyProperty="id">
        insert into sys_fertilization
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="landId != null">land_id,</if>
            <if test="owner != null and owner != ''">owner,</if>
            <if test="time != null and time != ''">time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="dosage != null and dosage != ''">dosage,</if>
            <if test="remark != null">remark,</if>
            <if test="fertilizationInventoryId != null">fertilization_inventory_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="landId != null">#{landId},</if>
            <if test="owner != null and owner != ''">#{owner},</if>
            <if test="time != null and time != ''">#{time},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="dosage != null and dosage != ''">#{dosage},</if>
            <if test="remark != null">#{remark},</if>
            <if test="fertilizationInventoryId != null">#{fertilizationInventoryId},</if>
         </trim>
    </insert>

    <update id="updateSysFertilization" parameterType="SysFertilization">
        update sys_fertilization
        <trim prefix="SET" suffixOverrides=",">
            <if test="landId != null">land_id = #{landId},</if>
            <if test="owner != null and owner != ''">owner = #{owner},</if>
            <if test="time != null and time != ''">time = #{time},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="dosage != null and dosage != ''">dosage = #{dosage},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysFertilizationById" parameterType="Long">
        delete from sys_fertilization where id = #{id}
    </delete>

    <delete id="deleteSysFertilizationByIds" parameterType="String">
        delete from sys_fertilization where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>